
$blue:          hsl(216, 94%, 51%);
$black:         hsl(0, 2%, 19%);
$white:         hsl(30, 17%, 98%);
$background:    hsl(0, 0%, 93%);
$navbarcolor:   rgb(250, 248, 111);
$color-brand:   rgba(26, 26, 92, 0.959);
$footer-color:  hsl(0, 0%, 85%);
$boton-hover:   rgb(97, 184, 70);
$color-cuotas:  green;

$f-family: 'Nunito', sans-serif;
$f-small: 0.875rem;
$f-large: 1.275rem;

$spacing: 1rem;
$spacing-lg: 2rem;
$spacing-sm: .4rem;

$full-height: 100vh;
$full-width: 100%;

$container2: 100%;

$container-xs: 100%;
$container-sm: 540px;
$container-md: 720px;
$container-lg: 960px;
$container-xl: 1140px;
$container-xxl: 1320px;

$border: 1px solid #ddd;

$transition: all .4s ease-in;